header{
    background-size:cover;
    background-position:center;
    border: 1px solid #000000;
    font-family: monospace;
    background-color: #fae0e4;
    width: 100%;
}

img {
    float:left;
    margin-top: -10px;
    width:100px;
    height:100px;
}
a{
    color: #050000;
    font-size:x-large;
    background-color: #f3c2cf;
    text-decoration: none;
    font-family: monospace;
}

ul {
    list-style-type: none;
    margin: -10;
    padding:0px;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  li a:hover, a:active {
    background-color: rgb(161, 197, 218);
    width: 80px;
  }

 .logout{
    list-style-type: none;
    font-size: .8em;
    float:right;
    text-decoration: none;
    margin-top: -50px;
    height: 20px;
 }

 a:hover .logout{
  opacity: .9;
}
